
.navbar1 {

    overflow: hidden;

    margin-top: 3px;
    display: flex;
    justify-content: space-around;
}

.btnProjectsG {
    background-color: transparent;
    color: black;
    width: 200px;
}

.btnProjectsG:hover {
    background-color: black;
    color: white;
}

.btnCrearProject{
    width: 50px;
    height: 45px;
    border-radius: 50%;
    text-align: center;
    font-size: 30px;
}
