.divGeneral{
    width: 400px;
height: auto;
background: linear-gradient(to bottom, #4a5660, #07181e, #213746, #a39d9a);
background-repeat: no-repeat;
background-size: cover;
     border: 10px solid #07181e;
display: inline-block;
  
    text-align: center;
   
     border-radius: 40px;
  
  
   
 }

 .divinputlabel{
  display: flex;
  justify-content: center;
    align-items: center;
 }
 #h2Account{
  margin-top: -10px;
 }
#divCreateAccount{
  margin-left: 20px;
}
 label{
  color: #eff1f5;
 }
 body{
    text-align: center;
    margin: 0;
    padding: 0;
 }
 #btnSign{
    margin-top: 30px;
 }
 .divAccount{
    margin-top: 15px;
    text-align: right;
    padding: 10px;
 }
 a{
    color: #eff1f5;
    text-decoration: none;
 }
p{
  color: #eff1f5;
}

 h2{
    text-align: left;
    color: #eff1f5;
 }
 input{
    width: 50%;
 }

 form{
    display: inline-block;
 }
 
  

  
  h1 {
    margin-bottom: 20px;
  }
  
  .input-group {
    margin-bottom: 15px;
    text-align: left;
  }
  
  label {
    display: block;
    margin-top: 7px;
    margin-right: 5px;
    width: 150px;
  }
  #email{
    position: relative;
    background-image: url('/img/envelope-mail-icon-vector-illustration-removebg-preview.png');
  }
.input-with-image1 {
    padding: 10px 40px 10px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    background-image: url('/img/user.png'); /* Reemplaza con la ruta de tu imagen */
    background-size: 20px; /* Tamaño de la imagen */
    background-position: 95% 50%; /* Posición de la imagen */
    background-repeat: no-repeat; /* Evitar la repetición de la imagen */
  }
  .input-with-image2 {
    padding: 10px 40px 10px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    background-image: url('/img/password.png'); /* Reemplaza con la ruta de tu imagen */
    background-size: 20px; /* Tamaño de la imagen */
    background-position: 95% 50%; /* Posición de la imagen */
    background-repeat: no-repeat; /* Evitar la repetición de la imagen */
    margin-bottom: 10px;
  }
  input {
    margin-top: 10px;
    width: 50%;
    padding: 8px;
    border-radius: 3px;
    border: 1px solid #ccc;
  }
  
  button {
    padding: 8px 16px;
    border: none;
    background-color: #07181e;
    color: #eff1f5;
    border-radius: 3px;
    cursor: pointer;
  }
  #btnPasword{
    background-color: transparent;
  }
  
  button:hover {
    background-color: #233949;
  }