body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f9f9f9;
}

.login-container {
  background: url(../img/fred1.gif);
  background-size: cover;

  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 40px;
  width: 360px;
  text-align: center;
  margin: auto;
}

h2 {
  margin-bottom: 30px;
  color: white;
  background-color: #333333b4;
}

.input-container {
  margin-bottom: 20px;
}

input[type="email"],
input[type="password"] {
  width: calc(100% - 30px);
  padding: 15px;
  border-radius: 25px;
  border: 1px solid #ccc;
  transition: border-color 0.3s ease;
}

input[type="email"]:focus,
input[type="password"]:focus {
  outline: none;
  border-color: #3498db;
}

button {
  padding: 15px;
  width: calc(100% - 30px);
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #2980b9;
}
