h2,p{
    font-family: 'Archivo', sans-serif;

}
p{
    color: white;
    font-size: 13px;
}
h2{
    color: white;
    font-size: 35px;
}

.socialMed{
    width: 20px;
    height: 20px;
   
}
.butSocialMed{
    background-color: transparent;
    border: 2px solid #c6a345;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    border-radius: 50%;
 margin-right: 5px;
 margin-left: 5px;
}
.butSocialMed:hover{
    cursor: pointer;
}
body{
    text-align: center;
    margin: 0;
  padding: 0;
   
}
.divSocialMed{
    display: flex;
    margin: 10px;
    justify-content: center;
  align-items: center;
}
.divGeneral{
   margin-top: 10px;
 width: 400px;
 background-color: rgba(255, 255, 255, 0.167);
    border: 10px solid #c6a345;
    background-image: url("../img/jon-tyson-gIVzDR6JRWc-unsplash.jpg");
background-repeat: no-repeat;
background-size: cover;
    display: inline-block;
    text-align: center;
    border-radius: 40px;
    /*animation: changeColor 5s infinite;*/
}

@keyframes changeColor {
    0% {
      background-color: #c6a345;
    }
    25% {
      background-color: #5c4b3c;
    }
    50% {
      background-color: #7e827a;
    }
    75% {
      background-color: #bcaaa4;
    }
    100% {
      background-color: #c6a345;
    }
  }

  .divButton{
    display: inline-block;
    width: 50%;
  }
  .kid{
    margin-top: 15px;
    width: 100%;  
    color: white;
    background-color: transparent;
    border: 3px solid #c6a345;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 30px;
  }
  .kid:hover{
    cursor: pointer;
    background-color: #1b2737;
  }
  .divAllMedia{
    margin-top: 20px;
    margin-bottom: 20px;
  }